<!doctype html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body>
        <div class="container">
            <header>
                <a class="site-title" href="{{ '/' | relative_url }}"
                    ><span>~/</span>{{ site.title }}</a
                >
                <div class="site-subtitle">{{ site.description }}</div>
            </header>
            <main>{{ content }}</main>
            <footer>
                <span>{{ site.author.name }}</span>
                <a
                    href="https://github.com/{{ site.author.github }}"
                    target="_blank"
                    >github</a
                >
            </footer>
        </div>
    </body>
</html>
